<div class="title">
    <h1>Prueba técnica eXperience IT Solutions</h1>
</div>

<div class="filters">
    <div>
        <input type="text" [(ngModel)]="usersFilters.name" placeholder="Name" />
    </div>
    <div>
        <input type="text" [(ngModel)]="usersFilters.surname1" placeholder="First Surname" />
    </div>
    <div>
        <input type="text" [(ngModel)]="usersFilters.surname2" placeholder="Second Surname" />
    </div>
    <div>
        <input type="text" [(ngModel)]="usersFilters.email" placeholder="Email" />
    </div>
    <div>
        <button (click)="filter()">Filter</button>
    </div>
</div>

<div class="users_table">
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Name</th>
                <th>First Surname</th>
                <th>Second Surname</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let item of users.slice(0, 5); let index = index"> -->
            <tr *ngFor="let item of filteredUsers.slice((usersFilters.page - 1) * 5, usersFilters.page * 5); let index = index">
                <td>{{ item.username }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.surname1 }}</td>
                <td>{{ item.surname2 || '--' }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="pagination">
    <button [ngClass]="{ 'current': usersFilters.page == index + 1 }" *ngFor="let page of [].constructor(pages); let index = index" (click)="changePage(index + 1)">{{ index + 1 }}</button>
</div>