.title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.filters {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.filters div input {
    border: 1px solid blue;
    padding: 10px;
    font-weight: bold;
    border-radius: 6px;
}

.filters div button {
padding: 10px;
width: 80px;
text-transform: uppercase;
font-weight: bold;
}

.users_table {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.users_table table {
    width: 100%;
    border: 1px solid lightgray;
}

.users_table table th, .users_table table td{
    padding: 15px;
    text-align: center;
    border: 1px solid lightgray;
}

.pagination {
    padding: 10px;
}

.pagination button {
    padding: 5px;
    font-weight: bold;
    margin: 5px;
    width: 30px;
    font-size: 15px;
    height: 30px;
    border: 1px solid rgb(0, 0, 107);
    cursor: pointer;
}

.pagination button.current {
    background-color: rgb(185, 202, 209);
}